@* @model ManageUsersViewModel

@{
    ViewData["Title"] = "Manage Users";
}

<h2>@ViewData["Title"]</h2>
<h3>Administrators</h3>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
        </tr>
    </thead>

    @*//there was an error here too .. i comment am out ..*@

    @*@foreach (var item in Model.Administrators)*@
    @* @foreach (var User in Model.Administrators)
    {
        <tr>
            <td>@User.Id</td>
            <td>@User.Email</td>
        </tr>
    }
</table>
<h3>Everyone</h3>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
        </tr>
    </thead>

    @foreach (var user in Model.Everyone)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
        </tr>
    }
</table> *@ *@